{block content}
<section class="main-content">
	<div class="inner">
		<h2 n:block="title">404 <abbr class="harcore-glitch tooltip pilsen" style="font-family: sans-serif" title="Nepanikařte, túto je jen efekt!">st͢r͏ánk̡a ̀n̨e҉.n͜al̸e҉ze̸na</abbr></h2>

		<img src="https://cdn.plzenskybarcamp.cz/public/2016/images/404.jpg" width="620">

		<p><small>Tak to se nepovedlo! Stránka, kterou hledáte, se nám někam schovala… kde jen může být?</small></p>
	</div>
</section>
