{block title}{block h1}Partneři{/block} - Plzeňský Barcamp{/block}
{block metaDescription}Sponzoři, partneři a spoluorganizátoři bez nichž by nevznikl Plzeňský Barcamp.{/block}
{block metaKeywords}Partner, sponzor, Barcamp, organizátor, spoluorganizátor, poděkování, konference, přednáška, Plzeň{/block}
{block content}

<section class="main-content">
	<div class="inner">
        <h2 id="spoluorganizator">Prostory přednášek a zázemí</h2>
        <p class="partners">
            <a href="http://www.vtpplzen.cz/" target="_blank"><img src="{$basePath}/media/partners/vtp-logo.jpg" alt="Vědeckotechnický park Plzeň"></a>
        </p>
        <p class="partners small">
            <a href="http://www.komora.cz/" target="_blank"><img src="{$basePath}/media/partners/hospo_komora_logo.png" height="150" alt="Hospodářská komora České republiky"></a>
        </p>

        <h2 id="zlati-partneri"><span class="tooltip pilsen" title="Tohle jsou prosím naše zlatíčka, neboli zlatí partneři.">Zlaťácí</span></h2>
        <p class="partners middle">
            <a href="https://www.socialbakers.com/" target="_blank"><img src="{$basePath}/media/partners/socialbakers.png" height="100" alt="Socialbakers"></a>
            <a href="http://www.eurosoftware.cz/" target="_blank"><img src="{$basePath}/media/partners/eurosoftware.png" height="100" alt="Eurosoftware"></a>
            {*<a href="https://www.kerio.cz/" target="_blank"><img src="{$basePath}/media/partners/kerio_logo.png" alt="Kerio Technologies"></a>*}
            {*<a href="http://www.bohemiasoft.cz/" target="_blank"><img src="{$basePath}/media/partners/bohemiasoft-logo.png" alt="Bohemiasoft"></a>*}
            {*<a href="https://www.zombeek.cz/" target="_blank"><img src="{$basePath}/media/partners/zombeek-logo.png" alt="Zombeek"></a>*}
        </p>

        <h2 id="stribrni-partneri"> <span class="tooltip pilsen" title="Být to (stří)Brňáci, tak to k nám do Plzně mají daleko. Jako stříbrní partneři jsou ale skvělou místní podporou.">Stříbrňácí</span></h2>
        <p class="partners middle">
            {* <a href="http://www.shopero.cz/" target="_blank"><img src="{$basePath}/media/partners/shopero_logo_jpg.png" alt="SHOPERO"></a> *}
            <a href="http://www.benes-michl.cz/" target="_blank"><img src="{$basePath}/media/partners/benesmichl-logo.png" alt="Beneš &amp; Michl"></a>
            {* <a href="http://www.whitesoft.cz/" target="_blank"><img src="{$basePath}/media/partners/whitesoft.png" alt="Whitesoft s.r.o."></a>*}
            <a href="https://www.ecomail.cz/" target="_blank"><img src="{$basePath}/media/partners/ecomail.png" alt="Ecomail"></a>

        </p>

        <h2 id="bronzovi-partneri"> <span class="tooltip pilsen" title="Měďáky, velmi staré platidlo z dob Českých králů, už zajímají pouze sběratele. Pro nás jsou však Měďácí stále významní partneři.">Měďácí</span></h2>
        <p class="partners middle">
            <a href="https://www.galosoft.cz/" target="_blank"><img src="{$basePath}/media/partners/galosoft.png" height="100" alt="Galosoft"></a>
            <a href="https://www.shoptet.cz/" target="_blank"><img src="{$basePath}/media/partners/shoptet.png" height="100" alt="Shoptet"></a>
            <a href="http://sedmeropaprsku.cz/" target="_blank"><img src="{$basePath}/media/partners/sedmero_paprsku.png" height="80" alt="Sedmero paprsků"></a>
            <a href="http://ateli.cz/" target="_blank"><img src="{$basePath}/media/partners/ateli.png" height="80" alt="Ateli"></a>
            {*<a href="https://www.wedos.cz/" target="_blank"><img src="{$basePath}/media/partners/wedos.png" height="100" alt="Wedos"></a>*}
        </p>

        <h2 id="partneri">Partneří</h2>
        <p class="center">Podpoř Plzeňský Barcamp i Ty! Kontaktuj Endis <a href="mailto:denisa@kolarikova.cz?subject=Chci%20se%20stát%20partnerem%20Plzeňského%20Barcampu">e-mailem</a>.</p>
        <p class="partners middle">
            <a href="https://uloz.to/" target="_blank"><img src="{$basePath}/media/partners/ulozto-logo.png" alt="Uloz.to cloud a.s."></a>
            <a href="https://www.eletur.cz/" target="_blank"><img src="{$basePath}/media/partners/eletur_logo.png" height="73" alt="Eletur"></a>
            <a href="https://plzenec.net/" target="_blank"><img src="{$basePath}/media/partners/plzenecnet.png" alt="PlzenecNet"></a>
            <a href="https://hf-studio.cz/" target="_blank"><img src="{$basePath}/media/partners/hoto-foto.png" alt="HotoFoto"></a>
            <img src="{$basePath}/media/partners/arnies.png" alt="Arnies">
            <a href="https://www.antstudio.cz/" target="_blank"><img src="{$basePath}/media/partners/antstudio.png" alt="ANTstudio" height="140"></a>
            {*<a href="http://www.bzeneckavinarna.cz/" target="_blank"><img src="{$basePath}/media/partners/bzenecka_vinarna.png" height="100" alt="Bzenecká vinárna"></a>*}
            {*<a href="http://www.jciwb.cz/" target="_blank"><img src="{$basePath}/media/partners/jciwb.png" height="100" alt="JUNIOR CHAMBER INTERNATIONAL (JCI) WEST BOHEMIA"></a>*}
            {*<a href="https://www.taskpark.com/" target="_blank"><img src="{$basePath}/media/partners/taskpark.png" height="100" alt="TaskPark"></a>*}
            {*<a href="http://www.123rf.com/" target="_blank"><img src="{$basePath}/media/partners/123rf.png" height="100" alt="123RF"></a>*}
            {*<a href="https://www.facebook.com/plzenskybusinesskotel/" target="_blank"><img src="{$basePath}/media/partners/business-kotel.png" height="80" alt="Business kotel"></a>*}
            {*<a href="http://od-zdroje.primaeshop.cz/e-motion:s:14" target="_blank"><img src="{$basePath}/media/partners/e-motion.png" height="100" alt="E-motion"></a>*}
        </p>

        <h2 id="medialni-partneri">Mediální partneří</h2>
        <p class="partners middle">
            <a href="http://mladypodnikatel.cz/" target="_blank"><img src="{$basePath}/media/partners/mlady_podnikatel.png" height="80" alt="MladýPodnikatel.cz - magazín o podnikání na internetu"></a>
        </p>

        <p class="center">Podpoř Plzeňský Barcamp i Ty! Kontaktuj Endis <a href="mailto:denisa@kolarikova.cz?subject=Chci%20se%20stát%20partnerem%20Plzeňského%20Barcampu">e-mailem</a>.</p>

    </div>
</section>
