{block title}{block h1}Napsali o nás{/block} - Plzeňský Barcamp{/block}
{block metaDescription}Napsali a řekli o Plzeňském Barcampu.{/block}
{block metaKeywords}Napsali o nás, feedback, reportáž, Barcamp, Plzeň{/block}
{block content}

<section class="main-content">
	<div class="inner">
		<h2 id="napsali-o-nas">Napsali o třetím Plzeňském Barcampu</h2>

		<h3>Blogy a články</h3>
		<ul>
			<li><a href="http://blog.jana-mei.cz/nova-prichut-moji-prace/">Nová příchuť mojí práce?</a>, Jana Meinlschmidtová, 16. 3. 2016</li>
			<li><a href="https://honzas.cz/plzensky-barcamp-do-tretice-vseho-dobreho/">Plzeňský Barcamp</a>: Do třetice všeho dobrého, Jan Švec, 17. 4. 2016</li>
			<li><a href="http://dione.zcu.cz/content/plzensky-barcamp">Dioné: Plzeňský Barcamp</a>: Rozhovor, Lada Zadranská, 2. 4. 2016</li>
		</ul>
		<h3>Fotografie a fotky</h3>
		<ul>
			<li><a href="https://www.facebook.com/1355623514452930">Parádní fotky Barcampu</a>, Lynda Phan</li>
			<li><a href="https://www.facebook.com/1358510017497613">Úžasné fotky z Barcampu</a>, Míša Merglová</li>
			<li><a href="https://www.facebook.com/1353641751317773">Momentky z Barcampu</a>, Jakub Loudát - FOTO K5</li>
		</ul>
		<h3>Video</h3>
		<ul>
			<li><a href="https://www.youtube.com/playlist?list=PLHS7zFMwVxI3gvkU0fVmgKajT8usxAPFU">Osmnáct přednášek</a></li>
			<li><a href="https://mladypodnikatel.cz/endis-wagnerova-jak-se-porada-barcamp-t29427">Endis Wágnerová</a>: Jak se pořádá Plzeňský Barcamp?, MladýPodnikatel.cz, 6. 4. 2016</li>
			<li><a href="https://www.youtube.com/watch?v=O16dBkGzZzc">Reportáž na ZAK TV - Barcamp 2016</a></li>
			<li><a href="https://www.facebook.com/914231995354484/">Časosběrné video celého dne</a></li>
		</ul>

		<h2 id="napsali-o-nas">Napsali o druhém Plzeňském Barcampu</h2>

		<h3>Blogy a články</h3>
		<ul>
			<li><a href="http://www.nemecekpetr.cz/blog?id=111812&amp;action=detail&amp;oid=4131351&amp;nid=13610">Report:
					Jaký byl 2. Plzeňský Barcamp?</a>, Petr Němeček, 29. 3. 2015</li>
			<li><a href="http://info.sportcentral.cz/blog/plzensky-barcamp-a-proc-2/">Plzeňský
					Barcamp – a proč?</a>, SportCentral, 3. 4. 2015<br>
			</li>
			<li><a href="http://janaleitnerova.cz/post/114939986027/plzenskybarcamp">Mé
					“poprvé” na Plzeňském Barcampu</a>, Jana Leitnerová, 29. 3.
				2015</li>
			<li><a href="http://info.sportcentral.cz/blog/prednasky-z-baru-jak-kriticky-myslet-nemyslete-na-hlouposti/">Přednášky
					z Baru: Jak kriticky myslet – nemyslete na hlouposti</a>,
				SportCentral, 14. 4. 2015</li>
			<li><a href="http://www.qest-digital.cz/jaky-byl-plzensky-barcamp/">Jaký
					byl Plzeňský Barcamp 2015?</a>, Qest digital<br>
			</li>
			<li><a href="http://www.lifehackers.cz/plzensky-barcamp/">Plzeňský
					Barcamp</a>, LifeHackers<br>
			</li>
		</ul>
		<h3>Fotografie a fotky</h3>
		<ul>
			<li><a href="https://www.facebook.com/media/set/?set=a.1108948595787091.1073741836.811522108863076&amp;type=3">Momentky
					z Barcampu</a>, Lukáš Neasi</li>
			<li><a href="https://www.facebook.com/media/set/?set=a.1107856325896318.1073741834.811522108863076&amp;type=3">Parádní
					fotky Barcampu</a>, Lynda Phan</li>
			<li><a href="https://www.facebook.com/media/set/?set=a.1107656545916296.1073741833.811522108863076&amp;type=3">Úžasné
					fotky z Barcampu</a>, Míša Merglová</li>
			<li><a href="https://www.facebook.com/media/set/?set=a.1108648499150434.1073741835.811522108863076&amp;type=3">Fotokoutek</a>,
				Popfoto<br>
			</li>
			<li><a href="https://www.facebook.com/media/set/?set=a.1111149512233666.1073741837.811522108863076&amp;type=3">Afterpárty</a>,
				Simča Šiklová</li>
		</ul>
		<h3>Video</h3>
		<ul>
			<li><a href="https://www.youtube.com/playlist?list=PLHS7zFMwVxI2pcOgJiQO2L_q01VhYjzqX">Dvacet
					přednášek</a></li>
		</ul>

		<h2 id="napsali-o-nas">Napsali o prvním Plzeňském Barcampu</h2>
		<p>Zmínky o Plzeňském Barcampu, první události podobného druhu na západě:</p>

		<h3>Blogy a články</h3>
		<ul>
			<li><a href="http://blog.petricak.com/plzensky-barcamp-2014-kratke-shrnuti/">Plzeňský barcamp 2014 – krátké shrnutí</a>, Vít Petričák, 13. 4. 2014</li>
			<li><a href="http://www.zeminem.cz/plzensky-barcamp-laska-na-prvni-pohled">Plzeňský Barcamp - láska na první pohled</a>, Martin Zlámal, 13. 4. 2014</li>
			<li><a href="https://langevo.com/blog/post/view/5-nevyhod-plzenskeho-barcampu">5 nevýhod Plzeňského Barcampu aneb geekové a technologie?</a>, Langevo, 13. 4. 2014</li>
			<li><a href="http://blog.bloxxter.cz/1-plzensky-barcamp/">1. Plzeňský Barcamp</a>, Pavel Ungr, 13. 4. 2014</li>
			<li><a href="http://blog.seo-servis.cz/jaky-byl-plzensky-barcamp-2014">Jaký byl Plzeňský Barcamp 2014?</a>, Seo servis, 14. 4. 2014</li>
			<li><a href="http://blog.jirikrejcik.cz/2014/04/muj-osmy-barcamp-poprve-jako-prednasejici.html">Můj osmý Barcamp - Poprvé jako přednášející</a>, Jiří Krejčík, 14. 4. 2014</li>
			<li><a href="http://www.webstory.cz/clanky/prvni-rocnik-plzenskeho-barcampu-je-za-nami/">První ročník Plzeňského barcampu je za námi</a>, Webstory solution, 14. 4. 2014</li>
			<li><a href="http://martin.podval.eu/2014/04/plzensky-barcamp-2014.html">Plzeňský Barcamp 2014</a>, Martin Podval, 17. 4. 2014</li>
		</ul>

		<h3>Deníky a noviny</h3>
		<ul>
			<li><a href="http://plzensky.denik.cz/zpravy_region/slovnik-plzenstiny-aneb-proc-nam-obcas-cesi-nerozumi-20140409.html">Slovník plzeňštiny aneb proč nám občas Češi nerozumí</a>, Plzeňský Deník, 9. 4. 2014</li>
		</ul>

		<h3>Fotografie a fotky</h3>
		<ul>
			<li><a href="http://www.partyplzen.cz/2014/04/14/plzensky-barcamp/">Plzeňský barcamp</a>, Párty Plzeň, 199 fotografií</li>
			<li><a href="https://plus.google.com/+PavelUngr/posts/e8gSHbZkewg">Pár fotografií z včerejší #afterparty #barcampcz :-)</a>, Pavel Ungr, 8 fotografií</li>
			<li><a href="https://plus.google.com/photos/115963310050266321092/albums/6009175819810024417">Plzeňský Barcamp</a>, organizátoři, 108 fotografií</li>
		</ul>

		<h3>TV a video</h3>
		<ul>
			<li><a href="https://www.youtube.com/watch?v=pxW7faA9rTU">Zprávy plus</a>, Televize ZAK, 13. 4. 2014</li>
			<li><a href="https://www.youtube.com/watch?v=D74Xqg39oRk">Zak zprávy</a>, Televize ZAK, 15. 4. 2014</li>
		</ul>
	</div>
</section>
