parameters:
	archiveUrlPrefix: https://raw.githubusercontent.com/plzenskybarcamp/plzenskybarcamp-archive/master/archive/


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	- App\Model\ArchiveLoader
	- App\Model\GithubLoader(%archiveUrlPrefix%)
