{block content}
<section class="main-content">
    <div class="inner">
        <div>
            <h2 n:block=title>Reset hesla</h2>

            <div class="text-center" >
                <div class="choose-network">


                        {control resetPasswordForm}
                </div>
            </div>
        </div>
    </div>
</section>
