.visible-xs,
.visible-xs-inline-block,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
@media screen and (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  .visible-xs-inline-block {
    display: inline-block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
  td,
  th,
  tr,
  thead,
  tbody,
  tfoot,
  table {
    display: block;
  }
  .vtp img {
    width: 80%;
  }
  .homepage .main-header {
    height: 700px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media screen and (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media screen and (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media screen and (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
@media screen and (max-width: 1200px) {
  .vtp img {
    width: 100%;
  }
  .inner-table .main {
    height: 220px;
  }
  .inner-table .main .tech,
  .inner-table .main .web,
  .inner-table .main .business,
  .inner-table .main .misce {
    height: 200px;
  }
  .inner-table .main .tech a,
  .inner-table .main .web a,
  .inner-table .main .business a,
  .inner-table .main .misce a {
    height: 90px;
  }
}
@media screen and (max-width: 992px) {
  .main-header nav .inner {
    display: none;
  }
  .dropdown {
    display: block!important;
  }
  .footer {
    min-width: 0!important;
    width: 70% !important;
  }
  .inner {
    width: 80%!important;
  }
  .inner .main-content {
    padding: 0 15px!important;
    font-size: 1.3em;
  }
  .inner .info-navigation,
  .inner .archive {
    width: 100%!important;
    text-align: center!important;
  }
  .archive ul {
    margin: auto!important;
    width: 320px;
    float: initial!important;
    font-size: 1.3em;
  }
  .social-media li {
    width: 50%!important;
  }
  .segment,
  .talk {
    width: 100%!important;
    margin: 5px 0;
  }
  .newsletter {
    margin: 20px 0!important;
  }
  .main-content .photo-pic {
    width: 30%;
    height: auto;
    margin: 0 20px !important;
  }
  .main-content .photos {
    width: 98%;
    margin: 0;
  }
  .inner_talk li {
    padding-top: 70px!important;
    padding-left: 0!important;
  }
  .inner_talk li .item-header {
    padding: 2rem;
  }
  .inner_talk li h4 {
    padding-left: 1.5rem !important;
  }
  .inner_talk .hlasovani {
    margin-left: 100%;
    padding: 10px 20px;
  }
  .inner-table .main {
    height: auto!important;
    padding: 0!important;
    margin-top: 10px!important;
  }
  .inner-table .main div {
    padding: 0!important;
  }
  .inner-table .main .full {
    width: 100% !important;
  }
  .inner-table .tech,
  .inner-table .web,
  .inner-table .misce,
  .inner-table .business,
  .inner-table .work {
    width: 100%!important;
    height: 140px!important;
    margin-top: 10px!important;
  }
  .inner-table .tech a,
  .inner-table .web a,
  .inner-table .misce a,
  .inner-table .business a,
  .inner-table .work a {
    height: 30px!important;
  }
  .inner-table .time {
    width: 100%!important;
    height: 50px!important;
  }
  .inner-table .time .hours {
    font-size: 36px!important;
  }
  .inner-table .time .minutes {
    font-size: 18px!important;
  }
  .inner-table .tech-lbl,
  .inner-table .web-lbl,
  .inner-table .business-lbl,
  .inner-table .misce-lbl,
  .inner-table .work-lbl {
    margin-left: 10px;
  }
}
@media screen and (max-width: 1110px) {
  .main-navigation .inner {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .inner_talk .hlasovani {
    margin-left: 90%;
  }
}
@media screen and (max-width: 1210px) {
  .inner-table {
    width: 90%;
  }
}
/*# sourceMappingURL=responsive.css.map */