{block bodyClass}wide{/block}
{block title}{block h1}Přednášky{/block} - Plzeňský Barcamp{/block}
{block metaDescription}Téma bez omezení, zkušený řečník i začátečník a uvolněná atmosféra. Každá přednáška přinese čerstvý pohled na přednášená témata. {/block}
{block metaKeywords}přednáška, řečník, prezentace, projev, vystupování, Barcamp, Plzeň, pohled, konference, téma {/block}
{block content}
<section class="main-content">
	<div class="inner">
	{control talks $ranking}
	</div>
</section>