{block bodyClass}wide{/block}
{block title}{block h1}Účastnící{/block} - Plzeňský Barcamp{/block}
{block content}
<section class="main-content">
	<div class="inner">
	{control users}
	</div>
</section>